profiles {
    standard {
		process.executor = 'local'
		params.threads = Runtime.runtime.availableProcessors()
    }
    
    cluster {
        process.executor = 'slurm'
        process.queue = 'bcf'
        process.clusterOptions = '--nice=10'
		params.threads = 24
		stageOutMode = 'rsync'
    }
}

executor {
    name = 'slurm'
    queueSize = 2000
    pollInterval = '10 sec'
}

conda {
    useMamba = true
}

