profiles {
    standard {
        process.executor = 'local'
    }
    
    cluster {
        process.executor = 'slurm'
        process.queue = 'bcf'
        process.clusterOptions = '--nice=10'
    }
}

executor {
    name = 'slurm'
    queueSize = 2000
    pollInterval = '10 sec'
}

conda {
    useMamba = true
}

