manifest {
    author = 'Linda Fenske'
    name = '661k_project'
    homePage = 'https://github.com/ag-computational-bio/bakrep'
    description = 'A workflow for taxonomic classification, quality control and annotation of the dataset published by Blackwell et al. (https://doi.org/10.1371/journal.pbio.3001421).'
    mainScript = '661k.nf'
    version = '0.1.0'
    nextflowVersion = '>=20'
}

profiles {
    standard {
		process.executor = 'local'
		params.threads = Runtime.runtime.availableProcessors()
    }
    
    cluster {
		process.executor = 'slurm'
		process.queue = 'bcf'
		process.clusterOptions = '--nice=10'
		stageOutMode = 'rsync'
    }
}

executor {
    name = 'slurm'
    queueSize = 2000
    pollInterval = '10 sec'
}

conda {
    useMamba = true
}

report {
    enabled = true
    overwrite = true
	file = '661k_nf.report.html'
}

timeline {
    enabled = true
    overwrite = true
}

trace {
    enabled = true
    overwrite = true
}

dag {
	enabled = true
	overwrite = true
}	file = '661k_nf.dag.png'